.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  border: 1px solid blue;
}

.spriteContainer {
  display: flex;
  width: 90%;
}

.attributes {
  display: column;
  flex-direction: flex-start;
  justify-items: center;
  align-items: flex-start;
  width: 40%;
  /* border: 1px solid black; */
}

.height {
  font-style: bold;
}

.weight {
  font-style: bold;
}
