.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}

.spriteContainer {
  display: flex;
  flex-direction: flex-start;
  width: 90%;
}
